@inherits Microsoft.AspNetCore.Blazor.Components.BlazorComponent
@using System
@using System.Linq
@using Blazorous
@using Blazorous.Internal
@using Microsoft.AspNetCore.Blazor
@using Microsoft.AspNetCore.Blazor.Components

<select class="@Class" value="@_selected" onchange="@OnChange">
    @if (ShowPrompt)
    {
        <option>Select a theme</option>
    }
    @foreach (var theme in _themes.Themes.Values)
    {
        <option value="@theme.Name">@theme.Name</option>
    }
</select>

@functions {
    private IThemes _themes;
    private string _selected;

    [Parameter] private Action<ITheme> SelectedThemeChanged { get; set; }
    [Parameter] private string Class { get; set; }
    [Parameter] private bool ShowPrompt { get; set; } = true;

    protected override void OnInit()
    {
        _themes = ThemesProvider.Instance;
        if (_themes.Current != null)
        {
            _selected = _themes.Current.Name;
        }
        else
        {
            if (ShowPrompt)
            {
                _selected = "Select a theme";
            }
            else
            {
                SelectedChanged(_themes.Themes.First().Key);
            }
        }
    }

    void OnChange(UIChangeEventArgs e)
    {
        SelectedChanged(e.Value.ToString());
    }

    void SelectedChanged(string newSelected)
    {
        _selected = newSelected;
        if (_selected != "Select a theme")
        {
            _themes.Current = _themes.Themes[_selected];
        }
        else
        {
            _themes.Current = null;
        }
        SelectedThemeChanged?.Invoke(_themes.Current);
    }
}