@page "/"

<Blazorous TagName="div" css="@center">
    <h1>Blazorous</h1>
    <h2>Maintainable CSS with Blazor</h2>
    <Blazorous TagName="a" css="@link" css="@primary" href="https://github.com/chanan/Blazorous">Github</Blazorous>
    <Blazorous TagName="a" css="@link" css="@secondary" href="/glamorexamples">Glamor Examples</Blazorous>
</Blazorous>

<pre style="background:rgba(238,238,238,0.92);color:#000">
<span style="color:#03c">&lt;<span style="font-weight:700">Blazorous</span> <span style="color:#36c;font-style:italic">TagName</span>=<span style="color:#093">"div"</span> <span style="color:#36c;font-style:italic">css</span>=<span style="color:#093">"@@center"</span>></span>
    <span style="color:#03c">&lt;<span style="font-weight:700">h1</span>></span>Blazorous<span style="color:#03c">&lt;/<span style="font-weight:700">h1</span>></span>
    <span style="color:#03c">&lt;<span style="font-weight:700">Blazorous</span> <span style="color:#36c;font-style:italic">TagName</span>=<span style="color:#093">"a"</span> <span style="color:#36c;font-style:italic">css</span>=<span style="color:#093">"@@link"</span> <span style="color:#36c;font-style:italic">css</span>=<span style="color:#093">"@@primary"</span> <span style="color:#36c;font-style:italic">href</span>=<span style="color:#093">"https://github.com/chanan/Blazorous"</span>></span>Github<span style="color:#03c">&lt;/<span style="font-weight:700">Blazorous</span>></span>
    <span style="color:#03c">&lt;<span style="font-weight:700">Blazorous</span> <span style="color:#36c;font-style:italic">TagName</span>=<span style="color:#093">"a"</span> <span style="color:#36c;font-style:italic">css</span>=<span style="color:#093">"@@link"</span> <span style="color:#36c;font-style:italic">css</span>=<span style="color:#093">"@@secondary"</span> <span style="color:#36c;font-style:italic">href</span>=<span style="color:#093">"/glamorexamples"</span>></span>Glamor Examples<span style="color:#03c">&lt;/<span style="font-weight:700">Blazorous</span>></span>
<span style="color:#03c">&lt;/<span style="font-weight:700">Blazorous</span>></span>

@@functions {
    string center = @@<span style="color:#093">"{
        "</span><span style="color:#093">"text-align"</span><span style="color:#093">": "</span><span style="color:#093">"center"</span><span style="color:#093">",
        "</span><span style="color:#093">"margin-bottom"</span><span style="color:#093">": "</span><span style="color:#093">"30px"</span><span style="color:#093">"
    }"</span>;
    string link = @@<span style="color:#093">"{
        "</span><span style="color:#093">"border"</span><span style="color:#093">": "</span><span style="color:#093">"1px solid #F67982"</span><span style="color:#093">",
        "</span><span style="color:#093">"width"</span><span style="color:#093">": "</span><span style="color:#093">"11em"</span><span style="color:#093">",
        "</span><span style="color:#093">"padding"</span><span style="color:#093">": "</span><span style="color:#093">"0.7em 0"</span><span style="color:#093">",
        "</span><span style="color:#093">"textDecoration"</span><span style="color:#093">": "</span><span style="color:#093">"none"</span><span style="color:#093">",
        "</span><span style="color:#093">"borderRadius"</span><span style="color:#093">": 4,
        "</span><span style="color:#093">"display"</span><span style="color:#093">": "</span><span style="color:#093">"inline-block"</span><span style="color:#093">",
        "</span><span style="color:#093">"margin"</span><span style="color:#093">": "</span><span style="color:#093">".5em 1em"</span><span style="color:#093">",
        "</span><span style="color:#093">"transition"</span><span style="color:#093">": "</span><span style="color:#093">"all .3s"</span><span style="color:#093">"
    }"</span>;
    string primary = @@<span style="color:#093">"{
        "</span><span style="color:#093">"backgroundColor"</span><span style="color:#093">": "</span><span style="color:#093">"#CC3A4B"</span><span style="color:#093">",
        "</span><span style="color:#093">"color"</span><span style="color:#093">": "</span><span style="color:#093">"#fff"</span><span style="color:#093">",
        "</span><span style="color:#093">":hover"</span><span style="color:#093">": {
            "</span><span style="color:#093">"backgroundColor"</span><span style="color:#093">": "</span><span style="color:#093">"rgba(255, 255, 255, 0.5)"</span><span style="color:#093">",
            "</span><span style="color:#093">"color"</span><span style="color:#093">": "</span><span style="color:#093">"#DA233C"</span><span style="color:#093">"
        }
    }"</span>;
    string secondary = @@<span style="color:#093">"{
        "</span><span style="color:#093">"backgroundColor"</span><span style="color:#093">": "</span><span style="color:#093">"rgba(255, 255, 255, 0.5)"</span><span style="color:#093">",
        "</span><span style="color:#093">"color"</span><span style="color:#093">": "</span><span style="color:#093">"#DA233C"</span><span style="color:#093">",
        "</span><span style="color:#093">":hover"</span><span style="color:#093">": {
            "</span><span style="color:#093">"backgroundColor"</span><span style="color:#093">": "</span><span style="color:#093">"#CC3A4B"</span><span style="color:#093">",
            "</span><span style="color:#093">"color"</span><span style="color:#093">": "</span><span style="color:#093">"#fff"</span><span style="color:#093">"
        }
    }"</span>;
}
</pre>

@functions {
    string center = @"{
        ""text-align"": ""center"",
        ""margin-bottom"": ""30px""
    }";
    string link = @"{
	    ""border"": ""1px solid #F67982"",
	    ""width"": ""11em"",
	    ""padding"": ""0.7em 0"",
	    ""textDecoration"": ""none"",
	    ""borderRadius"": 4,
	    ""display"": ""inline-block"",
	    ""margin"": "".5em 1em"",
	    ""transition"": ""all .3s""
    }";
    string primary = @"{
        ""backgroundColor"": ""#CC3A4B"",
        ""color"": ""#fff"",
        "":hover"": {
			""backgroundColor"": ""rgba(255, 255, 255, 0.5)"",
			""color"": ""#DA233C""
		}
    }";
    string secondary = @"{
        ""backgroundColor"": ""rgba(255, 255, 255, 0.5)"",
        ""color"": ""#DA233C"",
        "":hover"": {
			""backgroundColor"": ""#CC3A4B"",
			""color"": ""#fff""
		}
    }";
}
